$mobile: 640px;
$laptop: 1280px;
$ipad: 1024px;

@mixin phone {
  @media only screen and (max-width: $mobile) {
    @content;
  }
}

@mixin laptop {
  @media only screen and (min-width: ($mobile + 1px)) {
    @content;
  }
}

@mixin ipad {
  @media only screen and (min-width: ($mobile + 1px)) and (max-width: $ipad) {
    @content;
  }
}
