@use "media.scss";
@use "typography.scss";

body {
  font-family: "Raleway", sans-serif;

  @include media.phone {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  @include media.laptop {
    margin: 0;
    padding: 0;
  }
}

* {
  text-align: center;
}

.navName {
  text-align: start;
}

//navigation bar
.navBar {
  font-size: 23px;
  padding-top: 1.5rem;
  text-decoration: none;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;

  @include media.phone {
    // visibility: hidden;
    display: none;
  }

  li {
    display: inline;
    a {
      padding: 0.4rem 1rem;
      text-decoration: none;
    }
  }
  div {
    font-weight: 600;
  }
  //   a :hover {
  //     color: red;
  //   }
}

//image in the header
.imgHeader {
  height: 200px;
  width: 200px;
  float: right;

  @include media.phone {
    visibility: hidden;
    display: none;
  }
}

//About Section
.secDiv {
  @include media.laptop {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80vw;
  }
}

.secAbout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include media.laptop {
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }
  h2 {
    @include media.laptop {
      color: red;
    }
  }
}
h1 {
  @include media.laptop {
    text-align: left;
    margin-left: 3%;
  }
}
h4 {
  @include media.laptop {
    text-align: left;
    margin-left: 3%;
  }
}
//Photo of me !!! : D
.imgMe {
  border-radius: 10%;
  @include media.laptop {
    float: left;
  }
}

.secTechnicalSkills {
  h2 {
    @include media.laptop {
      text-align: center;
    }
  }
}
//Technical skills logo
.technicalLogos {
  width: 80px;
  height: 80px;
  align-items: center;
  display: inline-block;
  overflow: hidden;

  img {
    @include media.laptop {
      margin: auto;
      width: 50%;
      align-items: center;
      justify-content: end;
    }
  }
}

button {
  background-color: white;
  border: 2px solid grey;
  border-radius: 10%;
  font-weight: 700;
}

.secProjects {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectPreview {
  margin: 1rem;
}

.secProjects {
  width: 80vw;
  margin: 0 auto;

  img {
    width: 20vw;
    height: 20vw;
    border: 2px solid black;
    border-radius: 10%;
  }

  button {
    margin-inline: 20px;
    margin-bottom: 5%;
  }

  h5 {
    margin: 0;
    padding: 0;
  }

  h3 {
    margin: 0;
    padding: 0;
  }

  h2 {
    @include media.laptop {
      text-align: center;
    }
  }

  @include media.laptop {
    max-width: 50%;
  }
}
//target = "_blank" blank link opens in new
.projectGrid {
  display: grid;
  justify-content: space-around;
  width: 80%;

  @include media.laptop {
    grid-template-columns: repeat(2, 2fr);
  }
}

//FOOTER STUFF!!!
.footer {
  height: 10rem;
  background-color: black;
  color: white;

  .icons {
    margin: auto;
    width: 50%;
  }
  .icons img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: fill;
  }
  .email {
    margin: auto;
    width: 50%;
  }
}
