@use "media.scss";
@use "typography.scss";

body {
  font-family: "Raleway", sans-serif;

  @include media.phone {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  @include media.laptop {
    margin: 0;
    padding: 0;
  }
}

//navigation bar
.navBar {
  font-size: 23px;
  padding-top: 1.5rem;
  text-decoration: none;
  display: flex;
  justify-content: end;
  font-size: 0.9rem;

  @include media.phone {
    visibility: hidden;
    display: none;
  }

  li {
    display: inline;
    a {
      padding: 14px 20px;
      border: 2px solid black;
      border-radius: 15%;
      text-decoration: none;
    }
  }
  div {
    font-weight: 600;
  }
}

h2 {
  @include media.laptop {
    text-align: center;
  }
}
//image in the header
.imgHeader {
  height: 200px;
  width: 200px;
  float: right;

  @include media.phone {
    visibility: hidden;
    display: none;
  }
}
//About Section
.secAbout {
  @include media.laptop {
    border: 2px solid black;
  }
}

h4 {
  @include media.laptop {
    text-align: left;
  }
}
//Photo of me !!! : D
.imgMe {
  @include media.laptop {
    float: left;
    padding-right: 5%;
  }
}
//Technical skills logo
.technicalLogos {
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: row;
  img {
    @include media.laptop {
      margin: auto;
      width: 50%;
      align-items: center;
    }
  }
}

.secTechnicalSkills {
  p {
    padding-left: 10px;
  }
}

button {
  background-color: white;
  border: 2px solid grey;
  border-radius: 10%;
}

ul {
  list-style: none;
  margin: 0;
}

.secprojects {
  display: flex;
  gap: 10px;
  gap: 10px 20px;
  row-gap: 10px;
  column-gap: 20px;

  li {
    text-align: center;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background-color: blueviolet;
  }

  button {
    margin-inline: 20px;
    margin-bottom: 5%;
  }
  h5 {
    margin: 0;
    padding: 0;
  }
  h3 {
    margin: 0;
    padding: 0;
  }

  @include media.laptop {
    flex-direction: column;
    justify-content: flex-start;
    max-width: 50%;
  }
}

.footer {
  height: 10rem;
  background-color: black;
  color: white;

  .icons {
    margin: auto;
    width: 50%;
  }
  .icons img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  .email {
    margin: auto;
    width: 50%;
  }
}
