.raleway-newFont {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

body {
  font-family: "Raleway", sans-serif;
}
@media only screen and (max-width: 640px) {
  body {
    text-align: center;
    margin: 0;
    padding: 0;
  }
}
@media only screen and (min-width: 641px) {
  body {
    margin: 0;
    padding: 0;
  }
}

* {
  text-align: center;
}

h2 {
  text-decoration: underline;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: red;
}

button:hover {
  color: red;
  cursor: pointer;
}

button {
  background-color: transparent;
  border: 2px solid grey;
  border-radius: 15%;
  text-align: center;
  font-weight: 700;
  margin: 4px 2px;
  font-size: medium;
  padding: 0.8rem;
  border: 3px solid black;
}

.navName {
  text-align: start;
}

.navBar {
  font-size: 23px;
  padding-top: 1rem;
  text-decoration: none;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: medium;
  margin-left: 2%;
  margin-right: 2%;
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 2px solid black;
}
@media only screen and (max-width: 640px) {
  .navBar {
    display: none;
  }
}
.navBar li {
  display: inline;
}
.navBar li a {
  padding: 0.4rem 1rem;
}
.navBar div {
  font-weight: 600;
}

@media only screen and (min-width: 641px) {
  .secDiv {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80vw;
  }
}

.secAbout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.secAbout p {
  font-size: large;
  margin-left: 2rem;
}
@media only screen and (min-width: 641px) {
  .secAbout h2 {
    margin-left: 20%;
  }
}
@media only screen and (min-width: 641px) {
  .secAbout {
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }
}

@media only screen and (min-width: 641px) {
  h1 {
    text-align: left;
    margin-left: 3%;
  }
}

@media only screen and (min-width: 641px) {
  h4 {
    text-align: left;
    margin-left: 3%;
  }
}

.imgMe {
  border-radius: 10%;
}
@media only screen and (min-width: 641px) {
  .imgMe {
    float: left;
    width: 30rem;
    height: 30rem;
  }
}

.secTechnicalSkills p {
  font-size: large;
}
@media only screen and (min-width: 641px) {
  .secTechnicalSkills h2 {
    text-align: center;
  }
}

.technicalLogos {
  width: 80px;
  height: 80px;
  align-items: center;
  display: inline-block;
  overflow: hidden;
}
@media only screen and (min-width: 641px) {
  .technicalLogos img {
    margin: auto;
    width: 50%;
    align-items: center;
    justify-content: end;
  }
}

.secProjects {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectPreview {
  margin: 1rem;
}

.secProjects {
  width: 80vw;
  margin: 0 auto;
}
.secProjects img {
  width: 20vw;
  height: 20vw;
  border: 2px solid black;
  border-radius: 10%;
}
@media only screen and (max-width: 640px) {
  .secProjects img {
    width: 40vw;
    height: 40vw;
  }
}
.secProjects button {
  margin-inline: 20px;
  margin-bottom: 5%;
}
.secProjects h5 {
  margin: 0;
  padding: 0;
}
.secProjects h3 {
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 641px) {
  .secProjects h2 {
    text-align: center;
  }
}
@media only screen and (min-width: 641px) {
  .secProjects {
    max-width: 50%;
  }
}

.projectGrid {
  display: grid;
  justify-content: space-around;
  width: 80%;
}
@media only screen and (min-width: 641px) {
  .projectGrid {
    grid-template-columns: repeat(2, 2fr);
  }
}

.footer {
  height: 10rem;
  background-color: black;
  color: white;
}
.footer .icons {
  margin: auto;
  width: 50%;
}
.footer .icons img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: fill;
}
.footer .email {
  margin: auto;
  width: 50%;
  color: white;
  font-size: larger;
}
