@use "media.scss";
@use "typography.scss";

body {
  font-family: "Raleway", sans-serif;

  @include media.phone {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  @include media.laptop {
    margin: 0;
    padding: 0;
  }
}

* {
  text-align: center;
}

//navigation bar
.navBar {
  font-size: 23px;
  padding-top: 1.5rem;
  text-decoration: none;
  display: flex;
  justify-content: end;
  font-size: 0.9rem;

  @include media.phone {
    visibility: hidden;
    display: none;
  }

  li {
    display: inline;
    a {
      padding: 14px 20px;
      border: 2px solid black;
      border-radius: 15%;
      text-decoration: none;
    }
  }
  div {
    font-weight: 600;
  }
}

h2 {
  @include media.laptop {
    text-align: center;
  }
}
//image in the header
.imgHeader {
  height: 200px;
  width: 200px;
  float: right;

  @include media.phone {
    visibility: hidden;
    display: none;
  }
}
//About Section
.secAbout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include media.laptop {
  }
}

h4 {
  @include media.laptop {
    text-align: left;
  }
}
//Photo of me !!! : D
.imgMe {
  border-radius: 10%;
  @include media.laptop {
    float: left;
  }
}
//Technical skills logo
.technicalLogos {
  width: 80px;
  height: 80px;
  align-items: center;
  display: inline-block;
  overflow: hidden;

  img {
    @include media.laptop {
      margin: auto;
      width: 50%;
      align-items: center;
      justify-content: end;
    }
  }
}

// .secTechnicalSkills {
//   p {

//   }
// }

button {
  background-color: white;
  border: 2px solid grey;
  border-radius: 15%;
  font-weight: 700;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.secprojects {
  width: 80vw;

  margin: 0 auto;
  li {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 10%;
  }

  button {
    margin-inline: 20px;
    margin-bottom: 5%;
  }
  h5 {
    margin: 0;
    padding: 0;
  }
  h3 {
    margin: 0;
    padding: 0;
  }
  @include media.phone {
  }

  @include media.laptop {
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
  }
}

.footer {
  height: 10rem;
  background-color: black;
  color: white;

  .icons {
    margin: auto;
    width: 50%;
  }
  .icons img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  .email {
    margin: auto;
    width: 50%;
  }
}
